{% extends "base.html" %}

{% block content %}


<h1>Welcome To The Quiz App</h1>
{% if user %}
<section class="container-fluid p-3 my-3 bg-dark text-white">
        <h3> Welcome {{ user }} To the quiz app</h3>
        <p>Your score at the moment is <span style="background-color: yellowgreen; color: red;">{{ score }}</span> points </p>
        <p> Keep answering questions to get to the top of the <a href="/leaderboard" style="display: inline;"> leaderboards </a></p>

</section>


<h2>Here You can find questions related to the next topics:</h2>
<section class="container-fluid p-3 my-3 bg-dark text-white">
        <ul>
                <li><a href="/math"><h4>Mathematics</h4></a></li>
                <li><a href="/geography"><h4>Geography</h4></a></li>
                <li><a href="/science"><h4>Science</h4></a></li>
                <li><a href="/category/literature"><h4>Literature</h4></a></li>
        </ul>

    
    
</section>
<!-- the part of the category searching goes here -->
<section class="container-fluid p-3 my-3 bg-dark text-white">
        <div class="content-section">
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Search for any category </legend>
                       
                        <div class="form-group">
                            {{ form.category.label(class='form-control-label') }}
                            {% if form.category.errors %}
                                {{ form.category(class='form-control form-control-lg is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for error in form.category.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.category(class='form-control form-control-lg') }}
                            {% endif %}
                        </div>
                    
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class='btn btn-outline-info') }}
                    </div>
                    
                </form>
        </div>

</section>

{% else %}
<div class="content-section">
        <section class="container-fluid p-3 my-3 bg-dark text-white">
                <h1>Welcome to the quiz app. Please Log in To start playing.</h1>
                <a href="{{ url_for('login')}}"><button type="button" class="btn btn-info">Login</button></a>
        </section>
        <section class="container-fluid p-3 my-3 bg-dark text-white">
                <h2>You dont have an account??</h2>
                <p>No password need, just put your name and country and start playing</p>
                <a href="{{ url_for('add_user')}}"><button type="button" class="btn btn-info">Register</button></a>
        </section>
</div>
{% endif %}





{% endblock %}